html
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
body
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
main
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-x: hidden;
}
