@font-face
{
	font-family: "Montserrat";
	font-stretch: 100%;
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
}
@font-face
{
	font-family: "Montserrat";
	font-stretch: 100%;
	font-style: italic;
	font-weight: 100 900;
	src: url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
}
